<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="bower_components/highlightjs/styles/monokai.css">
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="pluploadAngularDirectiveApp">

    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->



    <!-- <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a ng-href="#">Home</a></li>
          <li><a ng-href="#/about">About</a></li>
          <li><a ng-href="#">Contact</a></li>
        </ul>
        <h3 class="text-muted">pluploadAngularDirective</h3>
      </div>

      <div ng-view=""></div>

      <div class="footer">
        <p><span class="glyphicon glyphicon-heart"></span> from the Yeoman team</p>
      </div>
    </div> -->



    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.php">plUpload Angular Directive</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav">
            <!-- <li><a href="#about">About</a>
            </li>
            <li><a href="#services">Services</a>
            </li>
            <li><a href="#contact">Contact</a>
            </li> -->
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container -->
    </nav>

    <div class="container" ng-controller="MainCtrl">
    	<div class="jumbotron">

    	  <h1>Using plUpload with AngularJS</h1>

    	  <p class="lead">
    	    An angular directive wrapper for the cross browser upload script plUpload.
    	  </p>

          <div class="row" style="margin-top: 30px">
            <div class="col-sm-6">
              <div>
                <h2>Install using Bower</h2>
                <div hljs>$ bower install plupload-angular-directive</div>
              </div>
            </div>
            <div class="col-sm-6">
                <h2>Download</h2>
                <a href="https://github.com/sahusoftcom/plupload-angular-directive/archive/master.zip" class="btn btn-default btn-primary">.zip</a>
                <a href="https://github.com/sahusoftcom/plupload-angular-directive/archive/master.tar.gz" class="btn btn-default btn-primary">.tar.gz</a>

            </div>
        </div>

    	
        </div>

        <h1>Installation</h1>
        <div class="row">
            <div class="col-sm-12">
                <ol>
                    <li>Install
                        <ul>
                            <li>Using bower
                                <div hljs>$ bower install plupload-angular-directive</div>
                            </li>
                            <li>Or <a href="https://github.com/sahusoftcom/plupload-angular-directive/archive/master.zip">Download</a><br /><br />
                            </li>
                        </ul>
                    </li>
                    <li>Include files (Note: This file contains plUpload script, you don't need to include plupload separately)
                        <div hljs><script src="bower_components/plupload-angular-directive/plupload-angular-directive.min.js"></script></div>
                    </li>
                    <li>Inject Module
                        <div hljs>angular.module('myApp', ['plupload.directive']);</div>
                    </li>
                    <li>Configure paths (optional using pluploadServiceProvider)
                        <div hljs></div>
                    </li>
                    <li>Use it with any button
                        <div hljs><button pl-upload>Upload Files</button></div>
                    </li>
                </ol>
            </div>
        </div>


        <h1>Examples</h1>

    	<div class="row">

                <div class="col-sm-6">

                    <div class="panel panel-default">
                          <div class="panel-heading">
                                <h3 class="panel-title">Single File Upload</h3>
                          </div>
                          <div class="panel-body">

                            <div class="row">
                                <div class="col-sm-3">
                                    <a class="btn btn-primary input-block-level ng-isolate-scope ng-scope" pl-upload="" pl-progress-model="percent" pl-files-model="files" id="8ZUSE" pl-auto-upload="true" pl-max-file-size="10mb" pl-url="upload.php" pl-flash-swf-url="lib/plupload/plupload.flash.swf" pl-silverlight-xap-url="lib/plupload/plupload.flash.silverlight.xap" style="position: relative; z-index: 0;">Upload Files</a>
                                </div>
                                <div class="col-sm-9">
                                    <div class="progress" percent="percent"><!-- ngRepeat: bar in bars --><div class="bar ng-scope" ng-class="type &amp;&amp; &quot;bar-&quot; + type" ng-repeat="bar in bars" width="bar.to" old="bar.from" animate="bar.animate" type="bar.type" style="width: 0%;"></div></div>
                                </div>
                            </div>

                            <table ng-show="files.length" class="table" style="display: none;">
                                <tbody><tr><th>#</th>
                                <th>Name</th>
                                <th>Size</th>
                                <th>Loaded</th>
                                <th>Percent Uploaded</th>
                                <th>Status</th>
                                </tr><!-- ngRepeat: file in files -->
                            </tbody></table>

                            <div style="margin-top:20px"></div>

                            <tabset>
                                <tab heading="HTML">
                                    <div hljs><button pl-upload pl-progress-model="percent" pl-auto-upload="true" pl-files-model="files">Upload Files</button></div>
                                </tab>
                                <tab heading="JavaScript">
                                    <div hljs>function MyCtrl1($scope) {


    $scope.percent = '';
    // A variable to store the overall percentage
    // of the file uploaded.
    
    $scope.files = [];
    // An empty array to store the files uploaded.

}</div>
                                </tab>
                                <tab heading="How does it work?">
                                    <ul class="inline">
                                        <li> percent is a variable that stores the average percent of the files uploaded. Pass the variable in pl-progress-model attribute.</li><br>
                                        <li>files is an array that stores the objects of files uploaded.</li><br>
                                        <li>The list of files is shown in a table using the files array.</li><br>
                                        <li>pl-auto-upload attribute is used to declare if you want to upload the file directly after selecting.Pass true or false accordingly.</li><br>
                                        <li>progress bar is shown by a directive provided by angular-ui.Refer it at http://angular-ui.github.io/bootstrap/</li>
                                    </ul>
                                </tab>
                            </tabset>
                          </div>
                    </div>

                </div>
                <div class="col-sm-6">

                        <div class="panel panel-default">
                              <div class="panel-heading">
                                    <h3 class="panel-title">Multiple File Upload</h3>
                              </div>
                              <div class="panel-body">

                                <div class="row">
                                    <div class="col-sm-3">
                                        <a class="form-control btn btn-primary" pl-upload="" pl-auto-upload="false" pl-files-model="multiFiles" pl-progress-model="multiPercent" pl-instance="uploader" pl-max-file-size="10mb" pl-url="upload.php" pl-flash-swf-url="lib/plupload/plupload.flash.swf" pl-silverlight-xap-url="lib/plupload/plupload.flash.silverlight.xap">Pick Files</a>
                                    </div>
                                    <div class="col-sm-3">
                                        <a class="form-control btn btn-primary input-block-level" ng-click="uploader.start()">Upload</a>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="progress" percent="multiPercent"><!-- ngRepeat: bar in bars --><div class="bar ng-scope" ng-class="type &amp;&amp; &quot;bar-&quot; + type" ng-repeat="bar in bars" width="bar.to" old="bar.from" animate="bar.animate" type="bar.type" style="width: 0%;"></div></div>
                                    </div>
                                </div>
                                

                                <table ng-show="multiFiles.length" class="table" style="display: none;">
                                    <tbody><tr><th>#</th>
                                    <th>Name</th>
                                    <th>Size</th>
                                    <th>Loaded</th>
                                    <th>Percent Uploaded</th>
                                    <th>Status</th>
                                    </tr><!-- ngRepeat: file in multiFiles -->
                                </tbody></table>
                                
                                <div style="margin-top:20px"></div>

                                <tabset>
                                    <tab heading="HTML">
                                        <div hljs><a class="btn btn-primary" pl-upload pl-auto-upload="false" pl-files-model="multiFiles" pl-progress-model="multiPercent" pl-instance="uploader">Pick Files</a>


<a class="btn btn-primary input-block-level" ng-click="uploader.start()">Upload Files</a></div>
                                    </tab>
                                    <tab heading="JavaScript">
                                        <div hljs>function MyCtrl1($scope) {
    

    $scope.multiFiles = [];
    // Declare an empty array to store the files uploaded.

}</div>
                                    </tab>
                                    <tab heading="How does it work?">
                                        <ul class="inline">
                                            <li>For Uploading multiple files with a single upload button you need to define the attribute pl-auto-upload to be false.</li><br>

                                            <li>multiFiles is an array that stores which stores the objects of files added to the array.</li><br>

                                            <li>The list of files is shown in a table using the multiFiles array.</li><br>

                                            <li>multiPercent is a variable that stores the average percent of the files uploaded.Pass the variable in pl-progress-model attribute</li><br>

                                            <li>pl-instance attribute is used to get the object of the plupload class.Pass the variable in this attribute to get a instance of the plupload object.</li><br>

                                            <li>In this example Upload Files is a button which is used to upload all the files in the multiFiles array, when this button is clicked uploader.start() function is called to start uploading the files.(uploader is the object of plupload)</li><br>

                                            <li>progress bar is shown by a directive provided by angular-ui.Refer it at http://angular-ui.github.io/bootstrap/</li>
                                        </ul>
                                    </tab>
                                </tabset>

                              </div>
                        </div>

                    </div>

            </div>

            <!-- <div class="row">
                <div class="col-sm-6">
                        <h3>Mutiple Files Upload</h3>
                        <div class="row-fluid">
                            <div class="col-sm-3">
                                <a class="btn btn-primary input-block-level ng-isolate-scope ng-scope" pl-upload="" pl-auto-upload="false" pl-files-model="multiFiles" pl-progress-model="multiPercent" pl-instance="uploader" id="DH92Z" pl-max-file-size="10mb" pl-url="upload.php" pl-flash-swf-url="lib/plupload/plupload.flash.swf" pl-silverlight-xap-url="lib/plupload/plupload.flash.silverlight.xap" style="position: relative; z-index: 0;">Pick Files</a><br>
                                <a class="btn btn-primary input-block-level" ng-click="uploader.start()">Upload Files</a>
                            </div>
                            <div class="col-sm-9">
                                <br><br><br>
                                <div class="progress" percent="multiPercent"><div class="bar ng-scope" ng-class="type &amp;&amp; &quot;bar-&quot; + type" ng-repeat="bar in bars" width="bar.to" old="bar.from" animate="bar.animate" type="bar.type" style="width: 0%;"></div></div>
                            </div>
                        </div>
                        

                        <table ng-show="multiFiles.length" class="table" style="display: none;">
                            <tbody><tr><th>#</th>
                            <th>Name</th>
                            <th>Size</th>
                            <th>Loaded</th>
                            <th>Percent Uploaded</th>
                            <th>Status</th>
                            </tr>
                        </tbody></table>
                        
                    </div>
            </div> -->



        <!-- <div class="row">

            <div class="col-sm-6">
                    <h3>Passing Parameter to upload script</h3>
                    <div class="row-fluid">
                        <div class="col-sm-3">
                            <a class="btn btn-primary ng-isolate-scope ng-scope" pl-upload="" pl-multi-params-model="multiParams" pl-progress-model="paramsPercent" id="iVw6e" pl-auto-upload="true" pl-max-file-size="10mb" pl-url="upload.php" pl-flash-swf-url="lib/plupload/plupload.flash.swf" pl-silverlight-xap-url="lib/plupload/plupload.flash.silverlight.xap" style="position: relative; z-index: 0;">Upload Files</a>
                        </div>
                        <div class="col-sm-9">
                            <div class="progress" percent="paramsPercent"><div class="bar ng-scope" ng-class="type &amp;&amp; &quot;bar-&quot; + type" ng-repeat="bar in bars" width="bar.to" old="bar.from" animate="bar.animate" type="bar.type" style="width: 0%;"></div></div>
                        </div>
                        
                    </div>
            </div>
            <div class="col-sm-6">

            </div>
        </div> -->



    	<div class="row">
    		<div class="col-sm-12">
    			<h3>Directive Attributes</h3>
    			<table class="table table-bordered">
    				<tbody><tr><th>Attribute</th>
    				<th>Value</th>
    				<th>Explanation</th>
    				<th>Type</th>
    				<th>Default Value</th>
    				</tr><tr>
    					<td>pl-upload</td>
    					<td></td>
    					<td>Pass this Parameter to turn your button into pl-upload.</td>
    					<td></td>
    					<td></td>
    				</tr>
    				<tr>
    					<td>pl-auto-upload</td>
    					<td>true/false</td>
    					<td>Pass true or false as string to turn your button as auto upload or to pick files with your button.</td>
    					<td>String</td>
    					<td>true</td>
    				</tr>
    				<tr>
    					<td>pl-files-model</td>
    					<td>An empty array</td>
    					<td>Pass an empty array to store the files uploaded.<strong>An empty array must be defined to store the files.</strong></td>
    					<td>Two way binding model</td>
    					<td></td>
    				</tr>
    				<tr>
    					<td>pl-progress-model</td>
    					<td>A variable</td>
    					<td>Pass a variable to store the percent of file uploaded.</td>
    					<td>Two way binding model</td>
    					<td></td>
    				</tr>
    				<tr>
    					<td>pl-instance</td>
    					<td>An object</td>
    					<td>Pass an object to get the instance of plupload class, you can now customize the uploader object the way you want.</td>
    					<td>Two way binding model</td>
    					<td></td>
    				</tr>
    				<tr>
    					<td>pl-url</td>
    					<td>A string</td>
    					<td>Pass the path of the upload script.</td>
    					<td>String</td>
    					<td>upload.php</td>
    				</tr>
    				<tr>
    					<td>pl-max-file-size</td>
    					<td>A string</td>
    					<td>Pass the max size of the file.</td>
    					<td>String</td>
    					<td>10mb</td>
    				</tr>
    				<tr>
    					<td>pl-flash-swf-url</td>
    					<td>A string</td>
    					<td>Pass the flash swf url.</td>
    					<td>String</td>
    					<td>lib/plupload/plupload.flash.swf</td>
    				</tr>
    				<tr>
    					<td>pl-silverlight-xap-url</td>
    					<td>A string</td>
    					<td>Pass the silverlight xap url.</td>
    					<td>String</td>
    					<td>lib/plupload/plupload.flash.silverlight.xap</td>
    				</tr>
    				<tr>
    					<td>pl-filters-model</td>
    					<td>An array</td>
    					<td>Pass an array with the title and extensions of files you want to upload</td>
    					<td>Two way binding model</td>
    					<td>[{title : "Image files", extensions : "jpg,jpeg,gif,png"}]</td>
    				</tr>
    				<tr>
    					<td>pl-multi-params-model</td>
    					<td>An object with its parameter and value.Example-{'path':'C:/Users/vaio/'}</td>
    					<td>Pass an object with the params and its value you want to send to the upload script</td>
    					<td>Two way binding model</td>
    					<td></td>
    				</tr>
    				<tr>
    					<td>id</td>
    					<td>A unique id</td>
    					<td>Pass a id to your button if u want it to be the browse button.If not passed the directive assigns a unique id to the button.</td>
    					<td>String</td>
    					<td>a random unique id.</td>
    				</tr>
    			</tbody></table>
    			<hr>
    			<h3>Directive events</h3>
    			<table class="table table-bordered">
    				<tbody><tr><th>Attribute</th>
    				<th>Value</th>
    				<th>Explanation</th>
    				</tr><tr>
    					<td>on-file-added</td>
    					<td>An evaluated value.</td>
    					<td>Pass an evaluated value which will be applied once the file is added to queue.Example- <strong>&lt;button pl-upload on-file-added='x=5'&gt;Upload&lt;/button&gt;</strong></td>
    				</tr>
    				<tr>
    					<td>on-file-uploaded</td>
    					<td>An evaluated value.</td>
    					<td>Pass an evaluated value which will be applied once the file is uploaded.Example- <strong>&lt;button pl-upload on-file-uploaded='uploaded()'&gt;Upload&lt;/button&gt;</strong></td>
    				</tr>
    				<tr>
    					<td>on-file-progress</td>
    					<td>An evaluated value.</td>
    					<td>Pass an evaluated value which will be applied once the file is in uploading progress.Example- <strong>&lt;button pl-upload on-file-progress='progress=true'&gt;Upload&lt;/button&gt;</strong></td>
    				</tr>
    				<tr>
    					<td>on-file-error</td>
    					<td>An evaluated value.</td>
    					<td>Pass an evaluated value which will be applied if there is an error in uploading.Example- <strong>&lt;button pl-upload on-file-error='error()'&gt;Upload&lt;/button&gt;</strong></td>
    				</tr>
    			</tbody></table>
    		</div>

    	</div>

    </div>
    <!-- /.container -->



    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
    <!-- <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script> -->

    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="bower_components/highlightjs/highlight.pack.js"></script>
    <script src="bower_components/angular-highlightjs/angular-highlightjs.min.js"></script>
    <script src="bower_components/plupload-angular-directive/plupload-angular-directive.min.js"></script>
    <!-- endbower -->
    <!-- endbuild -->



        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/about.js"></script>
        <!-- endbuild -->
</body>
</html>
